* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "FirstJob";
  src: url("../FirstJob.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}
:root {
  --primaryColor: #FCA311;
  --background: #0D1526;
  --textColor: #F3F6FB;
  --elevation: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* font-family: 'FirstJob'; */
  position: relative;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  transition: all linear 0.2ms;
}
.main {
  position: relative;
  /* background-color: var(--background); */
  /* z-index: -10; */
}


#canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: -99;
}

/* Nav */


.nav_container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background-color: transparent;
}

.link_list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.link {
  color: var(--primaryColor);
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
}


@media only screen and (max-width: 768px) {
  .link_list {
    margin: 0px;
  }
}

/* Banner */

.banner {
  background-color: transparent;
}

.banner_container {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 80px 100px;
}

.avatar {
  width: 75px;
  height: 75px;
  margin: 10px 0;
  background-color: green;
  border-radius: 999px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;

}

.banner_container h1{
  font-family: 'OpenSans';
  font-size: 48px;
  /* margin: 25px 0px; */
  line-height: 100px;
  color: var(--textColor);
  font-weight: 700;
}

.banner_container p{
  color: var(--textColor);
  font-size: 16px;
  line-height: 30px;
}


.social_links {
  display: flex;
  margin: 30px 0px;
  align-items: center;
  justify-content: center;
}
.social_icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .banner_container {
    width: 80%;
    margin: 100px auto;
  }

}


.section_container {
  max-width: 1440px;
  margin: 150px 100px;
}

.section_title {
  display:flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 125.2%;  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FCA311;
  
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .section_title {
    font-size: 32px;
  }
  .section_container {
    margin: 150px 30px;
  }
}

/* Skills */

.skills_grid {
  margin: 0px 100px;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 80px 0px;
}

.skill {
  padding: 10px;
  background: #14213D;
  border-radius: 10px;
  text-align: center;
}

.skill img {
  width: 75px;
  height: 75px;
}

.skill h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--textColor);
}

@media only screen and (max-width: 768px) {
  .skills_grid {
    margin: 0px;
  }
}

/* Projects */


.projects_grid {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 80px 0px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project img {
  width: 500px;
  object-fit: cover;
}

.project h3 {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  color: var(--textColor);
  margin: 15px 0px;
}

.project a {
  color: inherit;
  text-decoration: none;
}

.project p {
  font-size: 14px;
  font-weight: 200;
  color: var(--textColor);
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2px;
}

@media only screen and (max-width: 768px) {
  .project img {
    width: 300px;
    object-fit: cover;
  }
  
  .project h3 {
    font-size: 24px;
  }
}




/* Contact */


.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.input_container {
  position: relative;
  display: flex;
  width: 50%;
  max-width: 450px;
  margin: 10px 0px;
  align-items: center;
}

.input_icon {
  position: absolute;
  left: 10px;
  top: 16px;
  width: 16px;
  height: 16px;
}

.input {
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  padding-left: 35px;
  background: var(--textColor);
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  transition: all linear 0.25ms;
}

.textarea {
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  padding-left: 35px;
  font-family: 'Roboto', sans-serif;
  background: var(--textColor);
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}


.contact_button {
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--primaryColor);
  color: var(--background);
  border-radius: 999px;
  margin: 30px 0px;
}


@media only screen and (max-width: 768px) {

  .form {
    width: 90%;
  }
  .input_container {
    width: 90%;
    font-size: 14px;
  }
}

/* Footer */

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
  padding: 20px;
}
.footer_container h1 {
  color: var(--secondaryColor);
  font-size: 16px;
}
